# TASK #1. GUIDED PROJECT INTRODUCTION

![image.png](attachment:image.png)

![image.png](attachment:image.png)

![image.png](attachment:image.png)

# TASK #2. DEFINE A PANDAS SERIES

In [ ]:
# Pandas is a data manipulation and analysis tool that is built on Numpy.
# Pandas uses a data structure known as DataFrame (think of it as Microsoft excel in Python).
# DataFrames empower programmers to store and manipulate data in a tabular fashion (rows and columns).
# Series Vs. DataFrame? Series is considered a single column of a DataFrame.

import pandas as pd

In [2]:
# Let's define a Python list that contains 5 crypto currencies
crypto_list = ['BTC','XRP','LTC', 'ADA', 'ETH']
crypto_list

['BTC', 'XRP', 'LTC', 'ADA', 'ETH']

In [3]:
# Let's confirm the Datatype
type(crypto_list)

list

In [4]:
# Let's create a one dimensional Pandas "series"
# Let's use Pandas Constructor Method to create a series from a Python list
# Note that series is formed of data and associated index (numeric index has been automatically generated)
# Check Pandas Documentation for More information: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.html#pandas.Series
# Object datatype is used for text data (String)
crypto_series = pd.Series(data = crypto_list)
crypto_series

0    BTC
1    XRP
2    LTC
3    ADA
4    ETH
dtype: object

In [5]:
# Let's confirm the Pandas Series Datatype
type(crypto_series)

pandas.core.series.Series

In [6]:
# Let's define another Pandas Series that contains numeric values (crypto prices) instead of text data
# Note that we have int64 datatype which means it's integer stored in 64 bits in memory
crypto_prices_series = pd.Series(data = [2000, 500, 2000, 20, 50])
crypto_prices_series

0    2000
1     500
2    2000
3      20
4      50
dtype: int64

# PRACTICE OPPORTUNITY #1 [OPTIONAL]:

![image.png](attachment:image.png)

In [7]:
my_list = ['BTC','XRP','LTC', 'ADA', 'ETH']
my_series = pd.Series(data = my_list)
my_series

0    BTC
1    XRP
2    LTC
3    ADA
4    ETH
dtype: object

# TASK #3. DEFINE A PANDAS SERIES WITH CUSTOM INDEX

In [ ]:
# Let's define a Python list that contains 5 Crypto currencies
crypto_list = ['BTC','XRP','LTC', 'ADA', 'ETH']
crypto_list

['BTC', 'XRP', 'LTC', 'ADA', 'ETH']

In [8]:
# Let's define a python list as shown below. This python list will be used for the Series index:
crypto_labels = ['crypto#1', 'crypto#2', 'crypto#3', 'crypto#4', 'crypto#5']
crypto_labels

['crypto#1', 'crypto#2', 'crypto#3', 'crypto#4', 'crypto#5']

In [9]:
# Let's create a one dimensional Pandas "series"
# Let's use Pandas Constructor Method to create a series from a Python list
# Note that this series is formed of data and associated labels
crypto_series = pd.Series(data = crypto_list, index = crypto_labels)
crypto_series

crypto#1    BTC
crypto#2    XRP
crypto#3    LTC
crypto#4    ADA
crypto#5    ETH
dtype: object

In [10]:
# Let's view the series
crypto_series

crypto#1    BTC
crypto#2    XRP
crypto#3    LTC
crypto#4    ADA
crypto#5    ETH
dtype: object

In [11]:
# Let's obtain the datatype
type(crypto_series)

pandas.core.series.Series

# TASK #4. DEFINE A PANDAS SERIES FROM A DICTIONARY

In [12]:
# A Dictionary consists of a collection of key-value pairs. Each key-value pair maps the key to its corresponding value.
# Keys are unique within a dictionary while values may not be.
# List elements are accessed by their position in the list, via indexing while Dictionary elements are accessed via keys
# Define a dictionary named "my_dict" using key-value pairs
my_Dict = {'Employee ID': 1,
           'Employee Name': 'Steve',
           'Salary [$]': 2000,
           'Years with company': 10}

In [13]:
# Show the dictionary
my_Dict

{'Employee ID': 1,
 'Employee Name': 'Steve',
 'Salary [$]': 2000,
 'Years with company': 10}

In [14]:
# Confirm the dictionary datatype
type(my_Dict)

dict

In [16]:
# Let's define a Pandas Series Using the dictionary
employee_series = pd.Series(data = my_Dict)
employee_series

Employee ID               1
Employee Name         Steve
Salary [$]             2000
Years with company       10
dtype: object

# PRACTICE OPPORTUNITY #2 [OPTIONAL]:

![image.png](attachment:image.png)

In [17]:
stocks = {'BTC': 3000,
          'XRP': 500,
          'LTC': 2200,
          'ADA': 20,
          'ETH': 50}
print(stocks)

{'BTC': 3000, 'XRP': 500, 'LTC': 2200, 'ADA': 20, 'ETH': 50}

In [18]:
stocks_series = pd.Series(stocks)
stocks_series

BTC    3000
XRP     500
LTC    2200
ADA      20
ETH      50
dtype: int64

# TASK #5. PANDAS ATTRIBUTES

In [19]:
# Attributes/Properties: do not use parantheses "()" and are used to get Pandas Series Properties. Ex: my_series.values, my_series.shape
# Methods: use parantheses "()" and might include arguments and they actually alter/change the Pandas Series. Ex: my_series.tail(), my_series.head(), my_series.drop_duplicates()
# Indexers: use square brackets "[]" and are used to access specific elements in a Pandas Series or DataFrame. Ex: my_series.loc[], my_series.iloc[]

# Let's redefine a Pandas Series containing our favourite 5 cryptos
crypto_list = ['BTC','XRP','LTC', 'ADA', 'ETH']
crypto_series = pd.Series(data = crypto_list)
crypto_series

0    BTC
1    XRP
2    LTC
3    ADA
4    ETH
dtype: object

In [20]:
# ".Values" attribute is used to return Series as ndarray depending on its dtype
# Check this for more information: https://pandas.pydata.org/docs/reference/api/pandas.Series.values.html#pandas.Series.values
crypto_series.values

array(['BTC', 'XRP', 'LTC', 'ADA', 'ETH'], dtype=object)

In [21]:
# index is used to return the index (axis labels) of the Series
crypto_series.index

RangeIndex(start=0, stop=5, step=1)

In [22]:
# dtype is used to return the datatype of the Series ('O' stands for 'object' datatype)
crypto_series.dtype

dtype('O')

In [23]:
# Check if all elements are unique or not
crypto_series.is_unique

True

In [24]:
# Check the shape of the Series
# note that a Series is one dimensional
crypto_series.shape

(5,)

# TASK #6. PANDAS METHODS

In [25]:
# Methods have parentheses and they actually alter/change the Pandas Series
# Methods: use parantheses "()" and might include arguments. Ex: my_series.tail(), my_series.head(), my_series.drop_duplicates()

# Let's define another Pandas Series that contains numeric values (crypto prices) instead of text data
# Note that we have int64 datatype which means it contains integer values stored in 64 bits in memory
crypto_prices = pd.Series(data = [400, 500, 1500, 20, 70])
crypto_prices

0     400
1     500
2    1500
3      20
4      70
dtype: int64

In [27]:
# Let's obtain the sum of all elements in the Pandas Series
crypto_prices.sum()

2490

In [30]:
# Let's obtain the multiplication of all elements in the Pandas Series
crypto_prices.product()

420000000000

In [31]:
# Let's obtain the average
crypto_prices.mean()

498.0

In [32]:
# Let's show the first couple of elements in the Pandas Series
crypto_prices.head(2)

0    400
1    500
dtype: int64

In [34]:
# Note that head creates a new dataframe
new_crypto_prices = crypto_prices.head(3)
new_crypto_prices

0     400
1     500
2    1500
dtype: int64

# PRACTICE OPPORTUNITY #3 [OPTIONAL]:

![image.png](attachment:image.png)

In [35]:
crypto_prices.tail(2)

3    20
4    70
dtype: int64

In [36]:
crypto_prices.memory_usage()

172

# TASK #7. IMPORT CSV DATA (1-D) USING PANDAS

In [38]:
# Pandas read_csv is used to read a csv file and store data in a DataFrame by default (DataFrames will be covered shortly!)
# Use Squeeze to convert it into a Pandas Series (One-dimensional)
# Notice that no foramtting exists when a Series is plotted
BTC_price_series = pd.read_csv('crypto.csv').squeeze()
BTC_price_series

0         457.334015
1         424.440002
2         394.795990
3         408.903992
4         398.821014
            ...
2380    55950.746090
2381    57750.199220
2382    58917.691410
2383    58918.832030
2384    59095.808590
Name: BTC-USD Price, Length: 2385, dtype: float64

In [39]:
type(BTC_price_series)

pandas.core.series.Series

In [40]:
BTC_price_series = pd.read_csv('crypto.csv')
BTC_price_series

      BTC-USD Price
0        457.334015
1        424.440002
2        394.795990
3        408.903992
4        398.821014
...             ...
2380   55950.746090
2381   57750.199220
2382   58917.691410
2383   58918.832030
2384   59095.808590

[2385 rows x 1 columns]

In [41]:
type(BTC_price_series)

pandas.core.frame.DataFrame

In [ ]:
# Note that when you set Squeeze = False, the data is stored in a DataFrame by default.
# DataFrame is simply used to store multi dimensional data as compares to Pandas Series that only holds 1-D dataset
# Note that DataFrames has proper formatting when you attempt to view them as shown below
# Note that Pandas Series has no formatting

In [42]:
BTC_price_series

      BTC-USD Price
0        457.334015
1        424.440002
2        394.795990
3        408.903992
4        398.821014
...             ...
2380   55950.746090
2381   57750.199220
2382   58917.691410
2383   58918.832030
2384   59095.808590

[2385 rows x 1 columns]

In [43]:
type(BTC_price_series)

pandas.core.frame.DataFrame

# TASK #8. PANDAS BUILT-IN FUNCTIONS

In [44]:
# Pandas works great with pre-existing python functions
# You don't have to play with pandas methods and directly leverage Python functions
# Check Python built-in functions here: https://docs.python.org/3/library/functions.html
BTC_price_series = pd.read_csv('crypto.csv').squeeze()
BTC_price_series

0         457.334015
1         424.440002
2         394.795990
3         408.903992
4         398.821014
            ...
2380    55950.746090
2381    57750.199220
2382    58917.691410
2383    58918.832030
2384    59095.808590
Name: BTC-USD Price, Length: 2385, dtype: float64

In [45]:
# Obtain the Data Type of the Pandas Series
type(BTC_price_series)

pandas.core.series.Series

In [46]:
# Obtain the length of the Pandas Series
len(BTC_price_series)

2385

In [47]:
# Obtain the maximum value of the Pandas Series
max(BTC_price_series)

61243.08594

In [48]:
# Obtain the minimum value of the Pandas Series
min(BTC_price_series)

178.1029968

# PRACTICE OPPORTUNITY #4 [OPTIONAL]:

![image.png](attachment:image.png)

In [49]:
my_series = pd.Series(data = [-10, 100, -30, 50, 100])
my_series

0    -10
1    100
2    -30
3     50
4    100
dtype: int64

In [51]:
-1 * abs(my_series)

0    -10
1   -100
2    -30
3    -50
4   -100
dtype: int64

In [52]:
set(my_series)

{-30, -10, 50, 100}

# TASK #9. SORTING PANDAS SERIES

In [53]:
# Let's import CSV data as follows:
BTC_price_series = pd.read_csv('crypto.csv').squeeze()
BTC_price_series

0         457.334015
1         424.440002
2         394.795990
3         408.903992
4         398.821014
            ...
2380    55950.746090
2381    57750.199220
2382    58917.691410
2383    58918.832030
2384    59095.808590
Name: BTC-USD Price, Length: 2385, dtype: float64

In [54]:
# You can sort the values in the dataframe as follows
BTC_price_series.sort_values()

119       178.102997
122       199.259995
121       208.097000
120       209.843994
123       210.339004
            ...
2382    58917.691410
2383    58918.832030
2384    59095.808590
2366    59302.316410
2365    61243.085940
Name: BTC-USD Price, Length: 2385, dtype: float64

In [55]:
# Let's view Pandas Series again after sorting, Note that nothing changed in memory! you have to make sure that inplace is set to True
BTC_price_series

0         457.334015
1         424.440002
2         394.795990
3         408.903992
4         398.821014
            ...
2380    55950.746090
2381    57750.199220
2382    58917.691410
2383    58918.832030
2384    59095.808590
Name: BTC-USD Price, Length: 2385, dtype: float64

In [57]:
# Set inplace = True to ensure that change has taken place in memory
BTC_price_series = BTC_price_series.sort_values()

In [58]:
# Note that now the change (ordering) took place
BTC_price_series

119       178.102997
122       199.259995
121       208.097000
120       209.843994
123       210.339004
            ...
2382    58917.691410
2383    58918.832030
2384    59095.808590
2366    59302.316410
2365    61243.085940
Name: BTC-USD Price, Length: 2385, dtype: float64

In [59]:
# Notice that the indexes are now changed
# You can also sort by index (revert back to the original Pandas Series) as follows:
BTC_price_series = BTC_price_series.sort_index()
BTC_price_series

0         457.334015
1         424.440002
2         394.795990
3         408.903992
4         398.821014
            ...
2380    55950.746090
2381    57750.199220
2382    58917.691410
2383    58918.832030
2384    59095.808590
Name: BTC-USD Price, Length: 2385, dtype: float64

In [60]:
BTC_price_series = BTC_price_series.sort_values(ascending = False)
BTC_price_series

2365    61243.085940
2366    59302.316410
2384    59095.808590
2383    58918.832030
2382    58917.691410
            ...
123       210.339004
120       209.843994
121       208.097000
122       199.259995
119       178.102997
Name: BTC-USD Price, Length: 2385, dtype: float64

# TASK #10. PERFORM MATH OPERATIONS ON PANDAS SERIES

In [61]:
# Let's import CSV data as follows:
BTC_price_series = pd.read_csv('crypto.csv').squeeze()
BTC_price_series

0         457.334015
1         424.440002
2         394.795990
3         408.903992
4         398.821014
            ...
2380    55950.746090
2381    57750.199220
2382    58917.691410
2383    58918.832030
2384    59095.808590
Name: BTC-USD Price, Length: 2385, dtype: float64

In [62]:
# Apply Sum Method on Pandas Series
BTC_price_series.sum()

15435379.738852698

In [63]:
# Apply count Method on Pandas Series
BTC_price_series.count()

2385

In [65]:
# Obtain the maximum value
BTC_price_series.max()

61243.08594

In [66]:
# Obtain the minimum value
BTC_price_series.min()

178.1029968

In [67]:
# My favourite: Describe!
# Describe is used to obtain all statistical information in one place
BTC_price_series.describe()

count     2385.000000
mean      6471.857333
std       9289.022505
min        178.102997
25%        454.618988
50%       4076.632568
75%       8864.766602
max      61243.085940
Name: BTC-USD Price, dtype: float64

# PRACTICE OPPORTUNITY #5 [OPTIONAL]:

![image.png](attachment:image.png)

In [69]:
BTC_price_series.sum()/BTC_price_series.count()

6471.857332852284

In [72]:
BTC_price_series.mean()

6471.857332852284

# TASK #11. CHECK IF A GIVEN ELEMENT EXISTS IN A PANDAS SERIES

In [73]:
# Let's import CSV data as follows:
BTC_price_series = pd.read_csv('crypto.csv').squeeze()
BTC_price_series

0         457.334015
1         424.440002
2         394.795990
3         408.903992
4         398.821014
            ...
2380    55950.746090
2381    57750.199220
2382    58917.691410
2383    58918.832030
2384    59095.808590
Name: BTC-USD Price, Length: 2385, dtype: float64

In [77]:
# Check if a given number exists in a Pandas Series values
# Returns a boolean "True" or "False"
1295 in BTC_price_series.values

False

In [78]:
# Check if a given number exists in a Pandas Series index
1295 in BTC_price_series.index

True

In [79]:
# Note that by default 'in' will search in Pandas index and not values
1295 in BTC_price_series

True

In [80]:
crypto_prices = pd.Series(data = [400, 500, 1500, 20, 70])
crypto_prices.mean()

498.0

# CAPSTONE FINAL PROJECT

![image.png](attachment:image.png)

# CAPSTONE FINAL PROJECT SOLUTION

# PART A

In [81]:
# Import key libraries
import pandas as pd
import numpy as np

In [82]:
# Define a portfolio dictionary containing 3 stocks and 3 crypto
portfolio = {'BTC':  43500,
             'ETH':  3200,
             'ADA':  1,
             'AAPL': 171,
             'TSLA': 1000,
             'AMZN': 3175}
print(portfolio)

{'BTC': 43500, 'ETH': 3200, 'ADA': 1, 'AAPL': 171, 'TSLA': 1000, 'AMZN': 3175}

In [83]:
# Define a Pandas Series Using the dictionary
my_portfolio_series = pd.Series(portfolio)
my_portfolio_series

BTC     43500
ETH      3200
ADA         1
AAPL      171
TSLA     1000
AMZN     3175
dtype: int64

In [85]:
# Define another Pandas series containing the number of securities
number_securities = pd.Series(data = [3, 10, 1000, 5, 20, 20],  index = ['BTC', 'ETH', 'ADA', 'AAPL', 'TSLA', 'AMZN'])
number_securities

BTC        3
ETH       10
ADA     1000
AAPL       5
TSLA      20
AMZN      20
dtype: int64

In [86]:
# Multiply Pandas Series instances
Total_dollar_value = my_portfolio_series.mul(number_securities);
print(Total_dollar_value)

BTC     130500
ETH      32000
ADA       1000
AAPL       855
TSLA     20000
AMZN     63500
dtype: int64

In [87]:
print('Total portfolio Value = ${}'.format(Total_dollar_value.sum()))

Total portfolio Value = $247855

# PART B

In [94]:
# Pandas read_csv is used to read a csv file and store data in a DataFrame by default (DataFrames will be covered shortly!)
# Use Squeeze to convert it into a Pandas Series (One-dimensional)
# Notice that no foramtting exists when a Series is plotted
sp500 = pd.read_csv('S&P500_Prices.csv')
sp500

            sp500
0     1295.500000
1     1289.089966
2     1293.670044
3     1308.040039
4     1314.500000
...           ...
2154  3327.770020
2155  3349.159912
2156  3351.280029
2157  3360.469971
2158  3333.689941

[2159 rows x 1 columns]

In [96]:
# Pandas read_csv is used to read a csv file and store data in a DataFrame by default (DataFrames will be covered shortly!)
# Use Squeeze to convert it into a Pandas Series (One-dimensional)
# Notice that no foramtting exists when a Series is plotted
sp500 = pd.read_csv('S&P500_Prices.csv').squeeze()
sp500

0       1295.500000
1       1289.089966
2       1293.670044
3       1308.040039
4       1314.500000
           ...
2154    3327.770020
2155    3349.159912
2156    3351.280029
2157    3360.469971
2158    3333.689941
Name: sp500, Length: 2159, dtype: float64

In [97]:
# Obtain the Data Type of the Pandas Series
type(sp500)

pandas.core.series.Series

In [98]:
# Obtain the length of the Pandas Series
len(sp500)

2159

In [99]:
# Obtain the maximum value of the Pandas Series
max(sp500)

3386.149902

In [100]:
# Obtain the minimum value of the Pandas Series
min(sp500)

1278.040039

In [102]:
# Set inplace = True to ensure that change has taken place in memory
sp500 = sp500.sort_values()
sp500

97      1278.040039
98      1278.180054
99      1285.500000
1       1289.089966
2       1293.670044
           ...
2038    3373.229980
2034    3373.939941
2033    3379.449951
2035    3380.159912
2037    3386.149902
Name: sp500, Length: 2159, dtype: float64

In [103]:
# Notice that the indexes are now changed
# You can also sort by index (revert back to the original Pandas Series) as follows:
sp500 = sp500.sort_index()
sp500

0       1295.500000
1       1289.089966
2       1293.670044
3       1308.040039
4       1314.500000
           ...
2154    3327.770020
2155    3349.159912
2156    3351.280029
2157    3360.469971
2158    3333.689941
Name: sp500, Length: 2159, dtype: float64

In [104]:
sp500 = sp500.sort_values(ascending = False)
sp500

2037    3386.149902
2035    3380.159912
2033    3379.449951
2034    3373.939941
2038    3373.229980
           ...
2       1293.670044
1       1289.089966
99      1285.500000
98      1278.180054
97      1278.040039
Name: sp500, Length: 2159, dtype: float64

In [105]:
# Obtain the average - Solution #1
print(sp500.sum()/sp500.count())

# Obtain the average - Solution #s
print(sp500.mean())

2218.7495540592868
2218.7495540592868

In [106]:
# My favourite: Describe!
# Describe is used to obtain all statistical information in one place
sp500.describe()

count    2159.000000
mean     2218.749554
std       537.321727
min      1278.040039
25%      1847.984985
50%      2106.629883
75%      2705.810059
max      3386.149902
Name: sp500, dtype: float64

In [107]:
3349 in sp500.values

False

In [108]:
sp500 = round(sp500)
sp500

2037    3386.0
2035    3380.0
2033    3379.0
2034    3374.0
2038    3373.0
         ...
2       1294.0
1       1289.0
99      1286.0
98      1278.0
97      1278.0
Name: sp500, Length: 2159, dtype: float64

In [109]:
3349 in sp500.values

True

# EXCELLENT JOB!

# PRACTICE OPPORTUNITIES SOLUTIONS

# PRACTICE OPPORTUNITY #1 SOLUTION:

In [110]:
# Let's define a Python list that contains 3 top stocks
my_list = ['Facebook','Apple','Nvidia']
my_series = pd.Series(data = my_list)
my_series

0    Facebook
1       Apple
2      Nvidia
dtype: object

In [111]:
type(my_series)

pandas.core.series.Series

# PRACTICE OPPORTUNITY #2 SOLUTION:

In [112]:
stocks = {'Facebook': 3000,
          'Apple'   : 400,
          'Nvidia'  : 2200}
print(stocks)

{'Facebook': 3000, 'Apple': 400, 'Nvidia': 2200}

In [113]:
# Let's define a Pandas Series Using the dictionary
my_series = pd.Series(stocks)
my_series

Facebook    3000
Apple        400
Nvidia      2200
dtype: int64

# PRACTICE OPPORTUNITY #3 SOLUTION:

In [114]:
crypto_prices.tail(2)

3    20
4    70
dtype: int64

In [115]:
crypto_prices.memory_usage()

172

# PRACTICE OPPORTUNITY #4 SOLUTION:

In [116]:
my_series = pd.Series(data = [-10, 100, -30, 50, 100])
my_series

0    -10
1    100
2    -30
3     50
4    100
dtype: int64

In [117]:
abs(my_series)

0     10
1    100
2     30
3     50
4    100
dtype: int64

In [118]:
set(my_series)

{-30, -10, 50, 100}

# PRACTICE OPPORTUNITY #5 SOLUTION:

In [119]:
# Obtain the average - Solution #1
BTC_price_series.sum()/BTC_price_series.count()

6471.857332852284

In [120]:
# Obtain the average - Solution #s
BTC_price_series.mean()

6471.857332852284

# GREAT JOB!